<h1>Listing tinyposts</h1>

<table>
  <tr>
    <th>Text</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tinyposts.each do |tinypost| %>
  <tr>
    <td><%= tinypost.text %></td>
    <td><%= tinypost.user_id %></td>
    <td><%= link_to 'Show', tinypost %></td>
    <td><%= link_to 'Edit', edit_tinypost_path(tinypost) %></td>
    <td><%= link_to 'Destroy', tinypost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tinypost', new_tinypost_path %>
